<?xml version="1.0" encoding="UTF-8" ?>
<launch>

	<node name="pd_controller" pkg="assignment12_time_and_precision"
		type="vanishing_point_pd_control.py" output="screen">
		<param name="buffer_size" type="int" value="52428800" />
	</node>
	
	<node name="vanishing_point_detection" pkg="assignment12_time_and_precision"
		type="vanishing_point_detection.py" output="screen">
		<param name="buffer_size" type="int" value="52428800" />

	</node>

</launch>

